
body{
    text-align:center;
    background:#222;
    color:white;
    font-family:Arial;
}

#timeDisplay{
    font-size:48px;
    margin-top:20px;
}

#progress-container{
    width:300px;
    height:12px;
    background:rgba(255,255,255,0.2);
    border-radius:20px;
    margin:15px auto;
    overflow:hidden;
}

#progress-bar{
    height:100%;
    width:0%;
    background:#00e676;
    transition:width 1s linear;
}

.todo-section{margin-top:30px;width:300px;margin-left:auto;margin-right:auto;}
.todo-input{display:flex;gap:10px;}
.todo-input input{flex:1;padding:8px;border-radius:5px;border:none;}
.todo-input button{padding:8px 12px;border:none;background:#00e676;font-weight:bold;cursor:pointer;border-radius:6px;}
#taskList{margin-top:10px;padding:0;list-style:none;}
#taskList li{padding:8px;background:white;color:black;border-radius:6px;margin-top:6px;display:flex;justify-content:space-between;align-items:center;}
#taskList li span{flex:1;}
.task-done{text-decoration:line-through;opacity:0.5;}
